<div class="container text-center">
  <h1>Edit task</h1>
  <div class="card" style="background-color:rgb(<%=rand(120..240)%>,<%=rand(120..240)%>,<%=rand(120..240)%>)">
    <h3><%= @task.name %></h3>
    <p><%= @task.created_at.strftime("%B %d, %Y") %></p>
    <p><%= check_box_tag "name", "value", @task.done, disabled: true %></p>
    <%= link_to "Edit", edit_task_path(@task), class:"btn btn-primary"%>
    <%= link_to "Delete", task_path(@task), method: :delete , class: "btn btn-danger"%>
  </div>
  <%= link_to "Back",  tasks_path %>
</div>


<div class="container text-center">






